.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
    }
    
    .card-container {
    box-shadow: 0 0 10px;
    width: 300px;
    height: 400px;
    margin: 30px;
    margin-top: 80px;
    }
    
    .img {
        width: 100%;
    }
    
    .title {
        background-color: black;
        color: white;
        font-size: 20px;
        text-align: center;
    }